@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,200&family=Splash&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/**********************PRELOADER***********/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 1000;
}

.gooey {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 142px;
    height: 40px;
    margin: -20px 0 0 -71px;
    background: #fff;
    filter: contrast(20);
}
.gooey .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    filter: blur(4px);
    background: #091353;
    border-radius: 50%;
    transform: translateX(0);
    animation: dot 2.8s infinite;
}
.gooey .dots {
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 2.8s infinite;
}
.gooey .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    filter: blur(4px);
    background: #091353;
    border-radius: 50%;
}
@keyframes dot {
    50% {
        transform: translateX(96px);
    }
}
@keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}


/***********************Hamburger*****************/

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #fff;
    transform: rotate(0);
    transition: all .5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}

#menu {
    transition: all .5s ease-in-out;
}

#menu div {
    transition-delay: 5s;
}

.menu-btn-open-style {
    background-color: #000;
}

.disable-scrolling {
    overflow: hidden;
    height: 100%;
}

.scrolled-nav {
    background-color: #091353;
    box-shadow: 0 8px 6px -9px #999;
}

.active {
    border-bottom: 1px solid #9D84B7;
}


/************************************************/

/*******************Contact Form***************************/


.contact-right {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}
.contact-right input {
    padding: 10px 15px;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.contact-right input:focus,
.contact-right textarea:focus {
    border-color: #091353;
}

.contact-right textarea {
    min-height: 164px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    padding: 10px 15px;
}


/*****************************************************/

/*******************************************/
#hero {
    background-image: url('../assets/layered-waves-haikei\ \(1\).svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    z-index: 1;
}

.skills-container {
    background-image: url(../assets/circle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.skills-bg {
    background-image: url(../assets/circle.svg);
    background-repeat: no-repeat;
    background-size: cover;
}


.r-tabs-accordion-title {
    text-align: center;
}

.r-tabs-accordion-title .r-tabs-anchor {
    color: white;
    border-bottom: 1px solid #9D84B7;
    padding-bottom: 1px;
}


.tabs .process-tabs {
    padding: 0 1em;
}

.process-tabs .r-tabs-nav {
    margin-bottom: 10px;
}

.process div:nth-child(1) {
    padding: 1em 2em;
    margin-bottom: 1em;
}


.swiper {
    width: 90%;
    height: 600px;
  }

div.my-slider .swiper.mySwiper {
    height: auto;
}
.swiper-wrapper .swiper-slide.swiper-slide-active {
    height: auto;
}
.swiper.mySwiper div.swiper-button-prev::after,
.swiper.mySwiper div.swiper-button-next::after {
    font-size: large;
}

  @media screen and (min-width: 768px) {
    .swiper {
        width: 500px;
        margin-top: 2em;
    }
  }
  @media screen and (min-width: 830px) {
    .swiper {
        width: 600px;
        margin-top: 2em;
    }
  }
  @media screen and (min-width: 976px) {
    .swiper {
        width: 650px;
    }
    .r-tabs-tab a.r-tabs-anchor span{
        display: none;
    }
  }


@media screen and (max-width: 768px) {
    #process-call .process, #process-design .process, #process-build .process, #process-launch .process {
        display: flex;
        flex-direction: column;
    }
    .process div:nth-child(1) {
        padding: 1em 2em;
        margin-bottom: 1em;
    }
    .process-tabs .r-tabs-state-active a {
        color: #9D84B7;
    }
    
}


@media screen and (min-width: 768px) {
    .watermark {
        top: 250px;
    }
    #menu-btn {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .menu-items {
        display: none;
    }
}

/*********************************Animation*/
.animation-delay {
    animation-delay: 1s;
    animation-duration: 1.5s;
}


/***************************************************/
.cardd {
    position: relative;
    height: 450px;
    color: #a18a96;
    
    border-radius: 20px;
    overflow: hidden;
}
.card_1 {
    background: url('../assets/weather.jpg') center no-repeat;
    background-size: cover;
}
.card_2 {
    background: url('../assets/fashion.webp') center no-repeat;
    background-size: cover;
}
.card_3 {
    background: url('../assets/todo.webp') center no-repeat;
    background-size: cover;
}
.card__content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-top-left-radius: 20px;
    transform: translateY(70px);
    transition: transform .25s;
}

.card__content::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px #fff;
}
.card__title {
    color: #6a515e;
    line-height: 15px;
}
.card__subtitle {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
}
.card__desc {
    font-size: 14px;
    opacity: 0;
    transition: opacity .5s;
}
.cardd:hover .card__content {
    transform: translateY(0);
}
.cardd:hover .card__desc {
    opacity: 1;
    margin: .4em 0;
    animation-delay: .25s;
}

.about-card:hover i.about-icon {
    transform: scale(1.1);
    transition: all .3s ease-in;
}

@media (max-width: 500px) {
    .about-me-cards {
        flex-direction: column;
    }
    .about-me-cards > div {
        margin-bottom: 10px
    } 
}